<LinearGradientBrush StartPoint="{{startPoint}}" EndPoint="{{endPoint}}">
    {{#gradientStops}}
    <GradientStop Color="{{color}}" Offset="{{offset}}" />
    {{/gradientStops}}
</LinearGradientBrush>