<TextBlock {{#text}}Text="{{text}}"{{/text}}{{#style}}
           Style="{StaticResource {{style}}}"{{/style}}{{#characterSpacing}}
           CharacterSpacing="{{characterSpacing}}"{{/characterSpacing}}{{#fontFamily}}
           FontFamily="{{fontFamily}}"{{/fontFamily}}{{#fontSize}}
           FontSize="{{fontSize}}"{{/fontSize}}{{#fontStyle}}
           FontStyle="{{fontStyle}}"{{/fontStyle}}{{#fontWeight}}
           FontWeight="{{fontWeight}}"{{/fontWeight}}{{#foreground}}
           Foreground="{{foreground}}"{{/foreground}}{{#lineHeight}}
           LineHeight="{{lineHeight}}"{{/lineHeight}}{{#textAlignment}}
           TextAlignment="{{textAlignment}}"{{/textAlignment}} />