{{#styles}}
<Style x:Key="{{key}}"
       TargetType="TextBlock">
    {{#characterSpacing}}
    <Setter Property="CharacterSpacing"
            Value="{{characterSpacing}}" />
    {{/characterSpacing}}
    {{#fontFamily}}
    <Setter Property="FontFamily"
            Value="{{fontFamily}}" />
    {{/fontFamily}}
    {{#fontSize}}
    <Setter Property="FontSize"
            Value="{{fontSize}}" />
    {{/fontSize}}
    {{#fontStyle}}
    <Setter Property="FontStyle"
            Value="{{fontStyle}}" />
    {{/fontStyle}}
    {{#fontWeight}}
    <Setter Property="FontWeight"
            Value="{{fontWeight}}" />
    {{/fontWeight}}
    {{#foreground}}
    <Setter Property="Foreground"
            Value="{{foreground}}" />
    {{/foreground}}
    {{#lineHeight}}
    <Setter Property="LineHeight"
            Value="{{lineHeight}}" />
    {{/lineHeight}}
    {{#textAlignment}}
    <Setter Property="TextAlignment"
            Value="{{textAlignment}}" />
    {{/textAlignment}}
    {{#textTrimming}}
    <Setter Property="TextTrimming"
            Value="{{textTrimming}}" />
    {{/textTrimming}}
</Style>

{{/styles}}